.input {
  border: 2px solid black;
  border-radius: 5px;
  height: 30px;
  width: 300px;
  font-size: 28px;
}

.addTodoBttn {
  cursor: pointer;
  background-color: rgb(91, 148, 255);
  color: white;
  height: 30px;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid black;
}

.inputBttnDiv {
  height: fit-content;
  width: fit-content;
  margin: 10px auto;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.todoListDiv {
  margin: 10px auto;
  width: 800px;
  min-height: 300px;
  max-height: fit-content;
  display: flex;
  border: 2px solid black;
  border-radius: 5px;
  justify-content: center;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 2px grey;
}

.orderList {
  list-style: none;
  width: 90%;
  margin: 10px;
}

.list {
  background: rgb(222, 222, 222);
  width: 100%;
  min-height: 50px;
  max-height: fit-content;
  margin-bottom: 5px;
  border: 2px solid black;
  border-radius: 5px;
  position: relative;
  text-overflow: ellipsis;
}

.todoPara {
  width: 80%;
  word-wrap: break-word;
  height: 100%;
}
.deleteBttn {
  position: absolute;
  right: -1px;
  top: -8px;
  font-size: 26px;
  cursor: pointer;
}

.editBttn {
  right: -1px;
  position: absolute;
  bottom: -5px;
  cursor: pointer;
  transform: rotate(150deg);
}

.checked {
  position: absolute;
  right: 20%;
  top: 10%;
  color: darkgreen;
  cursor: pointer;
  font-size: 25px;
}
